<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.baoge.ft_livedata">

    <application
        android:name="com.baoge.ft_login.app_dir.LiveDataApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JetPack">
        <activity
            android:name=".ThreeActivity"
            android:exported="false" />
        <activity
            android:name=".TwoActivity"
            android:exported="false" />
        <activity
            android:name=".LiveDataActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>